body {
    font-family: Georgia;
    font-size: 0.8em;
}

/*#user-invoice-details {*/
    /*float: left;*/
/*}*/

/*#customer-details {*/
    /*float: left;*/
/*}*/

header {}
h1 {
    margin-top: 50px;
    color: dodgerblue;
}
small {
    color: #5b5b5b;
    font-size: 1em;
}

table {
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid grey;
    padding: 15px;
    text-align: center;
}

th, td {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}


.duration {
    font-weight: bold;
    font-size: 1.2em;
}

.date-label {
    font-size: .8em;
    color: grey;
}