body {
    font-family: Georgia;
}

header {}
h1 {
    margin-top: 50px;
    color: dodgerblue;
}
small {
    color: #5b5b5b;
    font-size: 1em;
}

table, th, td {
   border: 1px solid #aaa;
}

th, td {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}


.duration {
    font-weight: bold;
    font-size: 1.2em;
}