{% extends 'report_base.html' %}

{% block body %}

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <p>Invoice form</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Create invoice">
    </form>
    <p>Select project, time range and other details here</p>

    <h2>Existing invoices</h2>
    <div id="invoices_list">
    <ul>
    {% for invoice in invoices %}
        <li><a href="{% url 'display_invoice' %}?invoiceId={{ invoice.id }}">{{ invoice }}</a></li>
    {% endfor %}
    </ul>
    </div>

     <script>
          $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              dateFormat: "yy-mm-dd",
              yearRange: "2017:2027"
              // You can put more options here.

            });
          });
      </script>

{% endblock %}