<html>
<link type="text/css" href="theme.css" rel="stylesheet" />
<body>

    <header>
        <h1>Bart Aelterman</h1>
        <small>Data Science and data engineering consultant</small>
    </header>

    <div id="user-details">
        <ul>
            <li><b>Leveranciersgegevens</b></li>
            <li>Bart Aelterman</li>
            <li>Kapelstraat 329</li>
            <li>2660 Hoboken</li>
            <li>0032 486 909 952</li>
            <li>bart.aelterman@gmail.com</li>
            <li>BTW nummer</li>
            <li>Rekening nummer</li>
        </ul>
    </div>

    <div id="customer-details">
        <ul>
            <li><b>Klantgegevens</b></li>
            <li>{{ client.name }}</li>
            <li>{{ client.address_line_1 }}</li>
            <li>{{ client.address_line_2 }}</li>
            <li>{{ client.VAT_number }}</li>
        </ul>
    </div>

    <div id="invoice-details">
        <ul>
            <li><b>Factuurgegevens</b></li>
            <li>Factuurnummer: {{ invoice_number }}</li>
            <li>Factuurdatum: {{ invoice_date }}</li>
            <li>Leveringsdatum: {{ invoice_delivery_date }}</li>
            <li>Betreft: {{ project_description }}</li>
        </ul>
    </div>

    <table>
        <thead>
            <th>Description</th> <th>Amount (days)</th> <th>Price per day</th> <th>Total</th> <th>Total BTW incl</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ description }}</td> <td>{{ nr_of_days }}</td> <td>{{ rate }}</td> <td>{{ total }}</td> <td>{{ total_vat }}</td>
            </tr>
        </tbody>
    </table>

    <footer>
        <p>Gelive binnen 30 dagen te voldoen op bovenvermeld rekeningnummer met vermelding van het factuurnummer</p>
    </footer>
</body>
</html>