{% extends 'report_base.html' %}

{% block body %}

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <p>Timesheet form</p>
    <form action="{% url 'timesheet' %}">
        {% csrf_token %}
      {{ form.as_table }}
    <input type="submit">
    </form>
    <p>Select project, time range and other details here</p>

     <script>
      $(function() {
        $( ".datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd",
          yearRange: "2017:2027",
          // You can put more options here.

        });
      });
      </script>

{% endblock %}